[run]
omit =
        *__init__*,
        *test*,
        */usr/*,
        main.py

# main.py should be tested if there is a proper logic in there (currently it's a "placeholder")

[report]
precision=2
fail_under=100.00
